$primarycolor:yellow;
$hovercolor: white;
$backgroundcolor: red;


.header .nav ul li a{
    color: $primarycolor;
    
}
.header .nav ul li a:hover{
  color: $hovercolor;
 
}
.header{
  background-color: $backgroundcolor;
}
.header{
  position: fixed;
}

.div1{

  border: 1px dashed brown;
}
